* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --borderWidth: 1px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #808080;
}

#app {
  height: 100%;
}
